<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:label="Dhunly Pro"
        android:name="${applicationName}"
        android:icon="@drawable/logo"
        android:usesCleartextTraffic="true">
        
        <activity
            android:name=".MainActivity"
            ... >
        </activity>
    </application>
</manifest>
